*.so
.idea
.DS_Store
__pycache__/
build/
dist/
*.egg-info
*.swp
src/ext/*.c
src/grib2io/__config__.py
make_grib2_tables/section*.py
make_grib2_tables/originating_centers.py
*.ipynb_checkpoints
*.grib2ioidx
NCEPLIBS-g2c-1.7.0/
NCEPLIBS-ip-3.3.3/
build_libs/
